@{
    ViewData["Title"] = "Gallery";
    Layout = "";
}
<head>
    <title>Register Form</title>
    <link rel="stylesheet" href="~/css/Login.css">
    <script src="~/js/RegisterModel.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    @using Gallery.ViewModels;
    @model UserLoginModel;

    <form class="box" action="index.html" method="post">
        <h1>Login</h1>
        <input id="UserName" type="text" name="Uname" placeholder="Username">
        <span class="text-danger" asp-validation-for="UName">  </span>
        <input id="Name" type="text" name="Name" placeholder="Name">
        <input id="Password" type="password" name="password" placeholder="Password">
        <input id="Age" type="text" name="Uage" placeholder="Age">
        <input id="Mail" type="text" name="Umail" placeholder="E-Mail">
        <input id="Profession" type="text" name="Uprofession" placeholder="Profession">
        <button class="btn btn-primary" type="submit" onclick="Register()" asp-controller="Login" asp-action="Register">Register</button>
    </form>
</body>
