@{
    ViewData["Title"] = "Gallery";
}
@{
    Layout = "_Layout";
}
<div>
    <head>
        <title>Login Form</title>
        <link rel="stylesheet" href="~/css/Login.css">
    </head>
    <body>

        <form class="box" action="index.html" method="post">
            <h1>Login</h1>
            <input type="text" name="" placeholder="Username">
            <input type="password" name="" placeholder="Password">
            <input type="submit" name="" value="Login">
        </form>


    </body>

</div>
